region                  = "us-east-1"
environment             = "prod"
cluster_name            = "minisocial-prod"
cluster_version         = "1.29"
node_instance_type      = "t4g.medium"
node_architecture       = "arm64"
desired_nodes           = 2
min_nodes               = 2
max_nodes               = 3
vpc_cidr                = "10.20.0.0/16"
single_nat_gateway      = true
rds_enabled             = true
rds_identifier          = "minisocial-prod-auth-db"
rds_db_name             = "authdb"
rds_username            = "postgres"
rds_password            = "replace-me"
rds_engine              = "postgres"
rds_instance_class      = "db.t4g.micro"
rds_allocated_storage   = 20
rds_multi_az            = false
rds_publicly_accessible = false
rds_skip_final_snapshot = true
deploy_mongodb_incluster = true
deploy_mysql_incluster   = true
deploy_redis_incluster   = true
media_storage_mode      = "pvc"
