region                  = "us-east-1"
environment             = "staging"
cluster_name            = "minisocial-staging"
cluster_version         = "1.29"
node_instance_type      = "t4g.small"
node_architecture       = "arm64"
desired_nodes           = 1
min_nodes               = 1
max_nodes               = 2
vpc_cidr                = "10.10.0.0/16"
single_nat_gateway      = true
rds_enabled             = true
rds_identifier          = "minisocial-staging-auth-db"
rds_db_name             = "authdb"
rds_username            = "postgres"
rds_password            = "replace-me"
rds_engine              = "postgres"
rds_instance_class      = "db.t4g.micro"
rds_allocated_storage   = 20
rds_multi_az            = false
rds_publicly_accessible = false
rds_skip_final_snapshot = true
deploy_mongodb_incluster = true
deploy_mysql_incluster   = true
deploy_redis_incluster   = true
media_storage_mode       = "s3"
media_bucket_name        = "minisocial-staging-media"
